body{
    background:#f9f7fe;
    font-family: "Roboto",sans-serif, monospace;
}
.weather-app{
    background: white;
    max-width: 600px;
    margin:45px auto;
    border-radius: 16px;
    padding: 30px;
}